
button, tr {
  cursor: pointer;
}

.deprecated{
  background-color: orange !important;
}
.material {
  box-shadow: 0px 2px 3px #888;
}

.material>thead>tr>th {
  background-color: #fff;
  color: #555;
  //font-family:'Roboto' !Important;
  font-weight: 700;
  text-align: left;
}

.material>thead>tr>th,
.material>tbody>tr>td,
.lg>thead>tr>th,
.lg>tbody>tr>td {
  padding: 18px;
  //font-family: 'Roboto';
  font-weight: 400;
}

.md>thead>tr>th,
.md>tbody>tr>td {
  padding: 12px;
}

.sm>thead>tr>th,
.sm>tbody>tr>td {
  padding: 6px;
}

.xs>thead>tr>th,
.xs>tbody>tr>td {
  padding: 3px;
}

.np>thead>tr>th,
.np>tbody>tr>td {
  padding: 0;
}

.material>tbody>tr>td {
  font-weight: 400;
  vertical-align: middle;
}

.material>thead {
  border-bottom: 1px solid #CCC;
}

.material>tbody>tr {
  background-color: #fff;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  -moz-transition: all .15s;
  transition: all .15s;
}

.table-container {
  margin: 4px;
}

.align-right>thead>tr>th,
.align-right>tbody>tr>td {
  text-align: right;
}

.align-left>thead>tr>th,
.align-left>tbody>tr>td {
  text-align: left;
}

.align-center>thead>tr>th,
.align-center>tbody>tr>td {
  text-align: center;
}


/*
*------------------------- Responsive Desktop Begin -------------------------*
*/

@media only screen and (min-width: 500px) {
  .material {
    width: 100%;
    word-wrap: break-word;
    /*word-break: break-all;*/
  }
  .bordered>tbody>tr {
    border-bottom: 1px solid #CCC;
  }
  /*
        -------------------------------------------------- Colors --------------------------------------------------
    */
  /*------------------------ default ------------------------*/
  .striped>tbody>tr:nth-child(odd) {
    background-color: #EEE;
  }
  .hover-style>tbody>tr:hover {
    background-color: #CCC !important;
  }
  /*------------------------ red ------------------------*/
  .striped.red>tbody>tr:nth-child(odd) {
    background-color: #fde0dc;
  }
  .hover-style.red>tbody>tr:hover {
    background-color: #f9bdbb !important;
  }
  /*------------------------ teal ------------------------*/
  .striped.teal>tbody>tr:nth-child(odd) {
    background-color: #E0F2F1 !important;
  }
  .hover-style.teal>tbody>tr:hover {
    background-color: #b2dfdb !important;
  }
  /*------------------------ pink ------------------------*/
  .striped.pink>tbody>tr:nth-child(odd) {
    background-color: #fce4ec !important;
  }
  .hover-style.pink>tbody>tr:hover {
    background-color: #f8bbd0 !important;
  }
  /*------------------------ purple ------------------------*/
  .striped.purple>tbody>tr:nth-child(odd) {
    background-color: #f3e5f5 !important;
  }
  .hover-style.purple>tbody>tr:hover {
    background-color: #e1bee7 !important;
  }
  /*------------------------ deep-purple ------------------------*/
  .striped.deep-purple>tbody>tr:nth-child(odd) {
    background-color: #ede7f6 !important;
  }
  .hover-style.deep-purple>tbody>tr:hover {
    background-color: #d1c4e9 !important;
  }
  /*------------------------ indigo ------------------------*/
  .striped.indigo>tbody>tr:nth-child(odd) {
    background-color: #e8eaf6 !important;
  }
  .hover-style.indigo>tbody>tr:hover {
    background-color: #c5cae9 !important;
  }
  /*------------------------ blue ------------------------*/
  .striped.blue>tbody>tr:nth-child(odd) {
    background-color: #e7e9fd !important;
  }
  .hover-style.blue>tbody>tr:hover {
    background-color: #d0d9ff !important;
  }
  /*------------------------ light-blue ------------------------*/
  .striped.light-blue>tbody>tr:nth-child(odd) {
    background-color: #e1f5fe !important;
  }
  .hover-style.light-blue>tbody>tr:hover {
    background-color: #b3e5fc !important;
  }
  /*------------------------ cyan ------------------------*/
  .striped.cyan>tbody>tr:nth-child(odd) {
    background-color: #e0f7fa !important;
  }
  .hover-style.cyan>tbody>tr:hover {
    background-color: #b2ebf2 !important;
  }
  /*------------------------ green ------------------------*/
  .striped.green>tbody>tr:nth-child(odd) {
    background-color: #d0f8ce !important;
  }
  .hover-style.green>tbody>tr:hover {
    background-color: #a3e9a4 !important;
  }
  /*------------------------ light-green ------------------------*/
  .striped.light-green>tbody>tr:nth-child(odd) {
    background-color: #f1f8e9 !important;
  }
  .hover-style.light-green>tbody>tr:hover {
    background-color: #dcedc8 !important;
  }
  /*------------------------ lime ------------------------*/
  .striped.lime>tbody>tr:nth-child(odd) {
    background-color: #f9fbe7 !important;
  }
  .hover-style.lime>tbody>tr:hover {
    background-color: #f0f4c3 !important;
  }
  /*------------------------ yellow ------------------------*/
  .striped.yellow>tbody>tr:nth-child(odd) {
    background-color: #fffde7 !important;
  }
  .hover-style.yellow>tbody>tr:hover {
    background-color: #fff9c4 !important;
  }
  /*------------------------ amber ------------------------*/
  .striped.amber>tbody>tr:nth-child(odd) {
    background-color: #fff8e1 !important;
  }
  .hover-style.amber>tbody>tr:hover {
    background-color: #ffecb3 !important;
  }
  /*------------------------ orange ------------------------*/
  .striped.orange>tbody>tr:nth-child(odd) {
    background-color: #fff3e0 !important;
  }
  .hover-style.orange>tbody>tr:hover {
    background-color: #ffe0b2 !important;
  }
  /*------------------------ deep-orange ------------------------*/
  .striped.deep-orange>tbody>tr:nth-child(odd) {
    background-color: #fbe9e7 !important;
  }
  .hover-style.deep-orange>tbody>tr:hover {
    background-color: #ffccbc !important;
  }
}


/*
*-------------------------  Responsive Mobile Begin -------------------------*
*/

@media only screen and (max-width: 499px) {
  .material {
    box-shadow: none;
    width: 100%;
  }
  .material>thead,
  .material>tfoot {
    display: none;
  }
  .material>tbody {
    display: block;
    background-color: transparent;
  }
  .material>tbody>tr {
    display: block;
    border-radius: 2px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 3px #AAA;
  }
  .material>tbody>tr>td {
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
    display: block;
    font-weight: 400;
    vertical-align: middle;
    text-align: right;
  }
  .bordered>tbody>tr>td {
    border-bottom: 1px solid #CCC;
  }
  .material>tbody>tr>td[data-title]:before {
    content: attr(data-title);
    float: left;
    vertical-align: middle;
    position: relative;
    height: 100%;
    display: inline-block;
    font-size: inherit;
    //font-family: 'Roboto';
    font-weight: 400;
    color: #555;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
  //.align-right>tbody>tr>td[data-title]:before {
  //  float: right;
  //}
  //.align-right>tbody>tr>td {
  //  text-align: left;
  //}
  //.align-left>tbody>tr>td[data-title]:before {
  //  float: left;
  //}
  //.align-left>tbody>tr>td {
  //  text-align: right;
  //}
  //.align-center>tbody>tr>td[data-title]:before {
  //  float: none;
  //  text-align: center;
  //  clear: both;
  //  display: block;
  //}
  //.align-center>tbody>tr>td {
  //  text-align: center;
  //}
  /*
        -------------------------------------------------- Colors --------------------------------------------------
    */
  /*------------------------ default ------------------------*/
  .striped>tbody>tr>td:nth-child(odd) {
    background-color: #EEE;
  }
  .hover-style>tbody>tr>td:hover {
    background-color: #CCC !important;
  }
  /*------------------------ teal ------------------------*/
  .striped.teal>tbody>tr>td:nth-child(odd) {
    background-color: #E0F2F1;
  }
  .hover-style.teal>tbody>tr>td:hover {
    background-color: #b2dfdb !important;
  }
  /*------------------------ red ------------------------*/
  .striped.red>tbody>tr>td:nth-child(odd) {
    background-color: #fde0dc !important;
  }
  .hover-style.red>tbody>tr>td:hover {
    background-color: #f9bdbb !important;
  }
  /*------------------------ pink ------------------------*/
  .striped.pink>tbody>tr>td:nth-child(odd) {
    background-color: #fce4ec;
  }
  .hover-style.pink>tbody>tr>td:hover {
    background-color: #f8bbd0 !important;
  }
  /*------------------------ purple ------------------------*/
  .striped.purple>tbody>tr>td:nth-child(odd) {
    background-color: #f3e5f5 !important;
  }
  .hover-style.purple>tbody>tr>td:hover {
    background-color: #e1bee7 !important;
  }
  /*------------------------ deep-purple ------------------------*/
  .striped.deep-purple>tbody>tr>td:nth-child(odd) {
    background-color: #ede7f6 !important;
  }
  .hover-style.deep-purple>tbody>tr>td:hover {
    background-color: #d1c4e9 !important;
  }
  /*------------------------ indigo ------------------------*/
  .striped.indigo>tbody>tr>td:nth-child(odd) {
    background-color: #e8eaf6 !important;
  }
  .hover-style.indigo>tbody>tr>td:hover {
    background-color: #c5cae9 !important;
  }
  /*------------------------ blue ------------------------*/
  .striped.blue>tbody>tr>td:nth-child(odd) {
    background-color: #e7e9fd !important;
  }
  .hover-style.blue>tbody>tr>td:hover {
    background-color: #d0d9ff !important;
  }
  /*------------------------ light-blue ------------------------*/
  .striped.light-blue>tbody>tr>td:nth-child(odd) {
    background-color: #e1f5fe !important;
  }
  .hover-style.light-blue>tbody>tr>td:hover {
    background-color: #b3e5fc !important;
  }
  /*------------------------ cyan ------------------------*/
  .striped.cyan>tbody>tr>td:nth-child(odd) {
    background-color: #e0f7fa !important;
  }
  .hover-style.cyan>tbody>tr>td:hover {
    background-color: #b2ebf2 !important;
  }
  /*------------------------ green ------------------------*/
  .striped.green>tbody>tr>td:nth-child(odd) {
    background-color: #d0f8ce !important;
  }
  .hover-style.green>tbody>tr>td:hover {
    background-color: #a3e9a4 !important;
  }
  /*------------------------ light-green ------------------------*/
  .striped.light-green>tbody>tr>td:nth-child(odd) {
    background-color: #f1f8e9 !important;
  }
  .hover-style.light-green>tbody>tr>td:hover {
    background-color: #dcedc8 !important;
  }
  /*------------------------ lime ------------------------*/
  .striped.lime>tbody>tr>td:nth-child(odd) {
    background-color: #f9fbe7 !important;
  }
  .hover-style.lime>tbody>tr>td:hover {
    background-color: #f0f4c3 !important;
  }
  /*------------------------ yellow ------------------------*/
  .striped.yellow>tbody>tr>td:nth-child(odd) {
    background-color: #fffde7 !important;
  }
  .hover-style.yellow>tbody>tr>td:hover {
    background-color: #fff9c4 !important;
  }
  /*------------------------ amber ------------------------*/
  .striped.amber>tbody>tr>td:nth-child(odd) {
    background-color: #fff8e1 !important;
  }
  .hover-style.amber>tbody>tr>td:hover {
    background-color: #ffecb3 !important;
  }
  /*------------------------ orange ------------------------*/
  .striped.orange>tbody>tr>td:nth-child(odd) {
    background-color: #fff3e0 !important;
  }
  .hover-style.orange>tbody>tr>td:hover {
    background-color: #ffe0b2 !important;
  }
  /*------------------------ deep-orange ------------------------*/
  .striped.deep-orange>tbody>tr>td:nth-child(odd) {
    background-color: #fbe9e7 !important;
  }
  .hover-style.deep-orange>tbody>tr>td:hover {
    background-color: #ffccbc !important;
  }
}

body {
  background: #f5f5f5;
}
