
<!--search component -->

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"> <i class="fa fa-search-plus" aria-hidden="true"></i>
</span>
  <dtester-search (searchCriteria)="search($event)"></dtester-search>
</div>

<!--Common component to display entities-->

<dtester-entities-table [entities]="faculties" [headers]="headers"  [ignoreProperties]="ignoreProperties" (deleteEntity)="delete($event)"
                [page]="page" [itemsPerPage]="countPerPage"
                (editEntity)="edit($event)"
                (clickEntity)="getGroupsByFaculties($event)"></dtester-entities-table>

<!--Pagination component-->

<div class="text-center">
  <dtester-pagination [countRecords]="count" [recordsPerPage]="countPerPage" [currentPage]="page"
                      (pageChanged)="changePage($event)"></dtester-pagination>
</div>

<!-- Universal popup for add/edit/delete -->

<div class="app">
  <dynamic-form [config]="configs" (submitted)="formSubmitted($event)" (youCanDelete)="submitDelete($event)"></dynamic-form>
</div>

<button class="btn btn-lg btn-outline-primary" (click)="add()"> Створити новий факультет</button>

<button routerLink="/sidekicks">Go to sidekicks</button>

