<div id="container">
  <div class="row">
    <div class="col-md-10">
      <h3>{{testName}}.</h3>
    </div>
    <div class="col-md-2 exit">
      <ng-container *ngIf="!start">
        <button type="button" class=" btn btn-exit btn-close-test" (click)="startTest()">{{START}}</button>
      </ng-container>
      <ng-container *ngIf="start && !finish">
        <button class=" btn btn-exit btn-close-test" (click)="saveResults()"> {{FINISH}}</button>
      </ng-container>
    </div>

  </div>
</div>

<div id="timer-background">
  <div id="timer" [ngStyle]="{'width': statusTimer, 'background-color': checkProgresColor()}">
    <p>{{minutesDisplay}}:{{secondsDisplay}}</p>
  </div>
</div>
<div class="container" (click)="checkUnixTime()">

</div>


<div class="testplayer-container">
  <div class="sidebar">
    <div>
      <ul *ngIf="questionsIds" class="number-container">
        <li class="number-box" *ngFor="let number of getArrayOfNumbers(questionsIds)" (click)="goToQuestion(number)">
          {{number}}
        </li>
      </ul>
    </div>
  </div>

  <div class="questionsField">
    {{msg}}
    <ng-container *ngIf="question && start && !finish">
      <div class="table-responsive  wrapper">
        <table class="table">
          <caption><h3>{{QUESTION}}{{questionsIds.indexOf(question['question_id']) + 1}}</h3></caption>
          <tr>
            <td>{{question['question_text']}}</td>
          </tr>
          <tr id="image" *ngIf="question.attachment">
            <td><img [src]=question.attachment></td>
          </tr>
        </table>
      </div>
      <div class="answers">
        <form novalidate [formGroup]="answersFrom">
          <ng-container *ngIf="question['type'] == 1">
            <div *ngIf="question['answers']" class="grid-container">
              <label *ngFor="let answer of question['answers']" class="grid-box">
                <input type="radio" formControlName='singlechoise' [value]="answer['answer_id']">
                {{answer['answer_text']}}
                <img [src]="answer['attachment']">
              </label>

            </div>
          </ng-container>

          <ng-container *ngIf="question['type'] == 2">
            <div *ngIf="question['answers']" class="grid-container">
              <label *ngFor="let answer of question['answers']" class="grid-box">
                <input type="checkbox" formControlName='multichoise' [value]="answer['answer_id']"
                       (change)="toggleMultiSelect($event, answer['answer_id'])">
                {{answer['answer_text']}}
                <span>  <img [src]="answer['attachment']"></span>
              </label>
            </div>
          </ng-container>

          <ng-container *ngIf="question['type'] == 3">
            <div class="form-input" class="input-field">
              <label>{{ENTER_ANSWER}}
                <input formControlName="inputfield"
                       type="text"
                       maxlength="100"/>
              </label>
            </div>
          </ng-container>
        </form>


      </div>
      <div class="navbar">
        <ul class="nav navbar-nav navbar-toggler-right">
          <li><a> {{MARKED}}</a></li>
          <li><a (click)="next(question)">{{NEXT_QUESTION}}</a></li>
          <li><a (click)="saveCurrentAnswer(question)">Save current answer</a></li>

        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="start && finish">
      <div>
        {{CONFIRMATION_DIALOG}}
      </div>

      <div id="button">
        <button type="button" class="btn btn-test-player" (click)="finishTest()">{{FINISH}}</button>
        <button type="button" class="btn btn-test-player" [disabled]="timeFinish" (click)="backToTest()">{{BACK}}
        </button>
      </div>
    </ng-container>
  </div>


</div>


