@import "../../admin/universal/styles/const";
@import "../../admin/universal/styles/table";
@import "../../admin/universal/styles/button";
@import "../../admin/universal/styles/const";
@import "../../admin/universal/dynamic-form/styles/form-control";

.header {
  color: $primary-viole-super-bright;
  height: 100px;
  background-color: $primary-violet-color;
  .finish {
    float: right;
  }
  .time {
    position: absolute;
    right: 20px;
    top: 50px;
  }
}

#timer {
  p {
    font-size: 25px;
    color: white;
  }
  background-color: $timer-progress-color;
}

#timer-background {
  background-color: $timer-background-color;
}

.content {
  float: right;
  width: 100%;
}

.start-test {
  display: flex;
  justify-content: center;
  button {
    margin-top: 30px;
    color: $primary-viole-super-bright;
  }
}

table {
  caption {
    caption-side: top;
  }
  font-family: $font-stack;
  margin: auto;
  font-size: large;
  color: black;
  td {
    text-align: center;
    img {
      margin: auto;
      max-height: 150px;
    }
  }
  #image > td {
    background-color: $background-color;
  }
  tr:first-of-type {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }
  @extend table;
}

.navbar {
  height: 30px;
  div {
    display: block;
    div {
      &:hover {
        font-weight: 600;
        box-sizing: border-box;
      }
      a {
        cursor: pointer
      }
    }
  }
}

#footer {
  background-color: $primary-violet-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.form-radio {
  left: 100px;
  position: relative;
  top: 15px;
  input {
    margin-right: 50px;
  }
  label {
    padding: 10px;
    margin-top: 50px;
    height: 50px;
    img {
      margin-left: 100px;
      max-height: 50px;
    }
  }
}

.navigation {
  float: right;
}

.flex-container {
  @extend .wrapper;
  width: 100px;
  flex-wrap: wrap;
  align-content: center;
  font-size: large;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .flex-box {
    margin: 10px;
    width: auto;
    height: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }
}

.input-field {
  @extend .wrapper;
  color: $line-color;
  padding: 20px;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.sidebar {
  float: left;
  width: 20%;
  font-size: large;
  margin: auto;
  cursor: pointer;

  .number-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    background: $primary-viole-super-bright;
    padding-left: 0;
    margin-bottom: 0;
    .number-box {
      width: 50px;
      height: 50px;
      background-color: $primary-violet-bright-color;
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border: 2px solid $primary-violet-color;
      &:hover {
        background-color: $primary-violet-color;
        transition: .3s;
      }
    }
  }
}

.selected {
  color: red !important;
}

.markedQuestion {
  background-color: red !important;

}

#container {
  background-color: $primary-violet-bright-color;
  padding-left: 20px;
  .row {
    .col-md-2, .col-md-10 {
      display: flex;
      height: inherit;
      padding: 3px;
    }
  }
}

.confirm_container {
  text-align: center;
  padding: 100px;
  font-size: xx-large;
  color: $primary-violet-color;
  & > div:last-child {
    padding: 50px;
  }
}

h1 {
  color: white;
}

.testplayer-container > .questionsField {
  width: 70%;
  margin: auto;
  max-height: 60%;
}

.modal-header {
  color: $primary-viole-super-bright;
  background-color: $primary-violet-bright-color;
}

.modal-body {
  color: $primary-violet-color;
}

#testName {
  align-items: center;
  justify-content: center;
  color: $primary-viole-super-bright;
}

.answers-img {
  width: 150px;
}

#input {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.marked {
  cursor: pointer;
}

.flag {
  height: 50px;
  position: relative;
  border-top: 25px solid red !important;
  border-right: 50px solid transparent !important;
}
