ul{
  border: 1px solid lightblue;
  height: 100%;
}

li:hover{
  background-color: lightblue;
  color: white;
}

li.active{
  background-color: #0c56a9;
}

li.active a{
  color: white;
}

.logout{
  background-color: lightcoral;
  color: white;
}

.logout:hover{
  background-color: indianred;
  cursor: pointer;
}
.wrapper .menu{
  width:150px;
}
.wrapper .menu-btn{
  width:70%;
}



