<h3 class="text-center">{{SPECIALITIES_HEADER}}</h3>
<div class="header-group">

  <!--Dropdown for items per page count-->
  <dtester-items-per-page [numberOfRecords]="count" (recordsPerPageChanged)="changeCountPerPage($event)"></dtester-items-per-page>
</div>
<!--Search component-->
<dtester-search (searchCriteria)="startSearch($event)"></dtester-search>
<dtester-popup (saveSpeciality)="saveSpeciality($event)"
               (editSpeciality)="editSpeciality($event)"
               (deleteSpeciality)="deleteSpeciality($event)"
></dtester-popup>
<!--Common component to display entnties-->
<dtester-entities-table [entities]="specialities" [headers]="headers" [ignoreProperties]="ignoreProperties"
                (deleteEntity)="del($event)" [page]="page" [itemsPerPage]="countPerPage"
                (editEntity)="edit($event)" (clickEntity)="getGroupsBySpeciality($event)">
</dtester-entities-table>
<button class="btn btn-sm btn-primary" [title]="SPECIALITIES_ADD_TITLE" (click)="add()" data-target="#myModal">
  Додати спеціальність
</button>
<!--Pagination component-->
<div class="text-center">
  <dtester-pagination [countRecords]="count" [recordsPerPage]="countPerPage" [currentPage]="page"
                      (pageChanged)="changePage($event)"></dtester-pagination>
</div>

