<div class="container">
  <div class="row">
    <h1>Групи</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <dtester-search (searchCriteria)="startSearch($event)"></dtester-search>
    </div>
    <div class="col-md-7 croup-count">
      <h5>зареєстровано груп: <span>{{countRecords}}</span></h5>
    </div>
    <div class="col-md-2">
      <dtester-items-per-page [numberOfRecords]="countRecords" (recordsPerPageChanged)="changeNumberOfRecordsOnPage($event)"></dtester-items-per-page>
    </div>
  </div>
  <div class="row">
    <dtester-spinner *ngIf="isLoading"></dtester-spinner>
    <dtester-entities-table *ngIf="!isLoading" [entities]="groupsOnPage" [headers]="headers" [ignoreProperties]="ignoreProperties"
                            (deleteEntity)="deleteGroup()" [canAction]="true"
                            [page]="pageNumber" [itemsPerPage]="offset"
                            (editEntity)="editGroup()" (clickEntity)="getStudentsByGroup()" (actionEntity)="onTimeTableNavigate($event)">
    </dtester-entities-table>
  </div>
  <div class="row">
    <div class="text-center">
      <dtester-pagination [countRecords]="countRecords" [recordsPerPage]="offset" [currentPage]="pageNumber"
                          (pageChanged)="changePage($event)"></dtester-pagination>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <h1>Групи</h1>
  </div>
  <div class="col-md-8 croup-count">
    <h5>зареєстровано груп: <span>{{countRecords}}</span></h5>
  </div>
  <div class="col-md-2" >
    <select class="form-control" [(ngModel)]="offset" (change)="uploadPage()">
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
    </select>
  </div>
</div>
<table class="table table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <td>#</td>
      <td>Назва групи</td>
      <td colspan="3">Адміністрування</td>
    </tr>
  </thead>
     <tr *ngFor="let group of this.groupsOnPage; let i = index" >
        <td>{{i + offset * (pageNumber - 1) + 1}}</td>
       <td (click)="getStudentsByGroup(group)">{{group.group_name}}</td>
       <td><button (click)=" selectedGroup(group); getSpecialities(); getFaculties() " type="button" class="btn btn-sm btn-success btn-edit" data-toggle="modal" data-target="#editModal" data-whatever="@mdo"><i class="fa fa-edit"></i></button></td>
       <td><button (click)=" selectedGroup(group)" type="button" class="btn btn-sm btn-danger btn-delete"><i class="fa fa-trash" data-toggle="modal" data-target="#deleteModal"></i></button></td>
     </tr>
</table><br>
<!--pagination-->
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <nav aria-label="Page navigation example" >
      <ul class="pagination">
        <li class="page-item" (click)="previousPage()">
          <a class="page-link" aria-label="Previous" >
            <span >&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link">
            <span aria-hidden="true" >{{pageNumber}}</span>
          </a>
        </li>
        <li class="page-item" (click)="nextPage()">
          <a class="page-link">
            <span >&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-3">
 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="getSpecialities(); getFaculties()">Додати нову групу</button>
    <!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="addGroupUniversal()">Додати нову групу</button>-->
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Додавання групи</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="recipient-name" class="form-control-label">Оберіть назву факультету факультету:</label>
          <select class="form-control" [(ngModel)]="selectedFacultyValue" name="selectedFacultyValue">
            <option *ngFor="let faculty of facultiesOnPage" [ngValue]="faculty.faculty_id">{{faculty.faculty_name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="recipient-name" class="form-control-label">Оберіть назку спеціальності:</label>
          <select class="form-control" [(ngModel)]="selectedSpesailutyValue" name="selectedSpesailutyValue">
            <option *ngFor="let specialyty of specialitiesOnPage" [ngValue]="specialyty.speciality_id">{{specialyty.speciality_name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="group-text" class="form-control-label">Введіть назву групи:</label>
          <input [(ngModel)]="groupName" name="groupName" class="form-control" id="group-name">
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     <button (click)="createCroup(groupName)" type="button" class="btn btn-primary" data-dismiss="modal">Send message</button>
    </div>
  </div>
</div>
</div>
<p></p>
<!--group deleting-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModal">Видалення</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Ви впевнені що хочете видалити групу?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
        <button (click)="deleteGroup()" type="button" class="btn btn-primary" data-dismiss="modal">Видалити</button>
      </div>
    </div>
  </div>
</div>
<!--group editing-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModal">Редагування групи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Оберіть назву факультету факультету:</label>
            <select class="form-control" [(ngModel)]="selectedFacultyValue" name="selectedFacultyValue">
              <option *ngFor="let faculty of facultiesOnPage" [ngValue]="faculty.faculty_id">{{faculty.faculty_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Оберіть назку спеціальності:</label>
            <select class="form-control" [(ngModel)]="selectedSpesailutyValue" name="selectedSpesailutyValue">
              <option *ngFor="let specialyty of specialitiesOnPage" [ngValue]="specialyty.speciality_id">{{specialyty.speciality_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="group-text" class="form-control-label">Введіть назву групи:</label>
            <input [(ngModel)]="groupName" name="groupName" class="form-control" id="group-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
        <button  type="button" class="btn btn-primary" data-dismiss="modal" (click)="editGroup(groupName)" >Редагувати</button>
      </div>
    </div>
  </div>
</div>

