<button (click)="getCountRecords('Group')">sdgtfhuji</button>
<table class="table table-hover table-bordered">
  <thead class="thead-inverse">
  <tr>
    <td>#</td>
    <td>Group name</td>
    <td colspan="3">Admin</td>
  </tr>
  </thead>
     <tr *ngFor="let group of this.groupsOnPage">
        <td>{{group.group_id}}</td>
       <td>{{group.group_name}}</td>
       <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal" data-whatever="@mdo">edit</button></td>
       <td><button (click)=" selectedGroup(group)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">delete</button></td>
       <td>Students</td>
    </tr>
</table><br>
<!--&gt;>>>>>>>>>>>>>>>>>>>>>>>>>>>Pagination view<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">{{pageNumberForLoad}}</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a>{{pageNumberForLoad + 1 }}</li>
    <li class="page-item"><a class="page-link" href="#">3</a>{{pageNumberForLoad + 2}}</li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


<!--&gt;>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Creating new GROUP<<<<<<<<<<<<<<<<<<<<<<<<<<-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Додати нову групу</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Додавання групи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <label for="recipient-name" class="form-control-label">Назва факультету:</label>
            <input [(ngModel)]="facultyId" name="facultyId" class="form-control" id="spec-name">
          <div class="form-group">
            <label for="spec-text" class="form-control-label">Назва спеціальності:</label>
            <input [(ngModel)]="specialityId" name="specialityId" class="form-control" id="spec-name">
          </div>
          <div class="form-group">
            <label for="group-text" class="form-control-label">Назва групи:</label>
            <input [(ngModel)]="groupName" name="groupName" class="form-control" id="group-name">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="createCroup(groupName, specialityId, facultyId)" type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
<!-->>>>>>>>>>>>>>>>>>>>>>CONFIRM DELETE MODAL<<<<<<<<<<<<<<<<<<<<<<<<-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModal">Видалення</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Ви впевнені що хочете видалити групу?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
        <button (click)="deleteGroup()" type="button" class="btn btn-primary">Видалити</button>
      </div>
    </div>
  </div>
</div>
<!-->>>>>>>>>>>>>>>>>>>>>>EDIT MODAL<<<<<<<<<<<<<<<<<<<<<<<<-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModal">Редагування групи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Назва факультету:</label>
            <input type="text" class="form-control" id="faculty-name-name">
          </div>
          <div class="form-group">
            <label for="spec-text" class="form-control-label">Назва спеціальності:</label>
            <input class="form-control" id="spec-name">
          </div>
          <div class="form-group">
            <label for="group-text" class="form-control-label">Назва групи:</label>
            <input class="form-control" id="group-name">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
        <button  type="button" class="btn btn-primary" >Редагувати</button>
      </div>
    </div>
  </div>
</div>

