<h3 class="text-center">Результати тестування</h3>
<h5>Студент: {{student?.student_surname}} {{student?.student_name}} {{student?.student_fname}}</h5>
<h5>Група: {{group?.group_name}}</h5>
<div id="print-section">
  <button class="btn-warning">dsrfsdf</button>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" *ngFor="let result of results; let i=index">
      <a class="nav-link" (click)="setActive(i)" [class.active]="i === active_id" data-toggle="tab"
         [href]="'#' + result.session_id" role="tab">Тест №{{i + 1}}</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div *ngFor="let result of results; let i=index" class="tab-pane" [class.active]="i === active_id"
         [id]="'#' + result.session_id" role="tabpanel">
      <h4 class="text-center">Інформація по пройденому тесту</h4>
      <ul>
        <li>час початку: {{result.start_time}}; час закінчення: {{result.end_time}}</li>
        <li>тривалість проходження: {{calcutateTimeInterval(result.start_time, result.end_time)}}</li>
        <li>кількість запитань: {{result.questions.length}}</li>
        <li>результат: {{result.result}}</li>
      </ul>
      <div *ngFor="let question of result.questions; let l=last; let j=index">
        <h5 class="text-center">Питання {{j + 1}}</h5>
        <div class="row">
          <div class="col-5">
            <div>Складність: {{question.level}}</div>
            <div class="text-center"><b>{{question.question_text}}</b></div>
            <div>Відповіді: </div>
            <ul *ngFor="let answer of question.answers">
              <li *ngIf="answer.answer_text">
                {{answer.answer_text}} (
                <span [ngStyle]="{color: 'green'}" *ngIf="answer.true_answer == 1; else wrong">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <ng-template #wrong>
                  <span [ngStyle]="{color: 'red'}">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  </span>
                </ng-template>)
              </li>
              <img [src]="answer.attachment">
            </ul>
          </div>
          <div class="col-7">
            <img [src]="question.attachment">
          </div>
        </div>
        <hr *ngIf="!l">
      </div>
    </div>
  </div>
</div>
<button (click)="print()"><i class="fa fa-print" aria-hidden="true"></i></button>
