@import '../../styles/error';
@import "../../styles/const";
@import "../../styles/button";
@import "../../styles/form-control";
@import "../../styles/label";

.modal-header {
  background-color: $primary-color;
}

.form-control-file {
  @extend .form-control;
}

.fileContainer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#preview {
  margin: 20px;
}
