<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{MODAL_TITLE}}</h4>
      </div>
      <div class="modal-body">

        <form class="form-group"
              class="dynamic-form"
              [formGroup]="form"
              (ngSubmit)="submitted.emit(form.value)">
          <ng-container
            *ngFor="let field of config;"
            dynamicField
            [config]="field"
            [group]="form">
          </ng-container>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Modal for deleting -->
<div class="modal fade" tabindex="-1" role="dialog" id="delModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{MODAL_TITLE_DELETE}}</h4>
      </div>
      <div class="modal-body">
        Ви підтверджуєте видалення {{entity_name}}?

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="submitDelete(entity_name)">Підтвердити {{CONFIRM_DELETE}}</button>

        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
