@import '../../styles/error';
@import "../../../../universal/styles/const";
@import "../../styles/button";
@import "../../styles/form-control";
@import "../../styles/label";

:host{
  font: $font-stack;
  color: $primary-violet-color;

}
.modal-header {
  color: $primary-viole-super-bright;
  background-color: $primary-violet-bright-color;
}

#delete{
  color: $line-color;
  padding: 5px;

}
