<div class="modal fade" tabindex="-1" role="dialog" id="add_edit_deletePopup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="cancel()"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="container-fluid"><span>{{TITLE}}</span></h4>
      </div>
      <div class="modal-body">

        <div class='step-1' [hidden]='!step1'>
          <form *ngIf="action == 'add_edit'" class="form-group"
                class="dynamic-form"
                [formGroup]="form">
            <!--(ngSubmit)="submitted.emit(form.value)"-->
            <ng-container
              *ngFor="let field of config"
              dynamicField
              [config]="field"
              [group]="form">
            </ng-container>
            <div class="modal-footer">
              <div class="form-button">
                <button [disabled]="!form.valid" type="submit" class="btn btn-succes" (click)="submit()"> {{
                  SUBMIT_ADD_EDIT }}
                </button>
              </div>
              <div class="dynamic-field form-button">
                <button type="button" class="btn btn-default" (click)="cancel()">{{CLOSE}}</button>
              </div>
            </div>
          </form>
        </div>

        <div class='step-2' *ngIf="action == 'add_edit'" [hidden]='!step2'>
          <div>

            <img-cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>
            <div class="result" *ngIf="data1.image" >
                <img [src]="data1.image" [width]="cropperSettings1.croppedWidth" [height]="cropperSettings1.croppedHeight">
            </div>

          </div>
          <!--<div class="fileContainer">-->
          <!--<div class="button-container">-->
          <!--&lt;!&ndash;<button type="submit" class="btn btn-default">&ndash;&gt;-->
          <!--&lt;!&ndash;{{ PHOTO_LABEL }}&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->
          <!--<input type="file" class="form-control-file" accept='image/*' (change)='imageChange($event)'/>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div id="preview">&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<img class="img-thumbnail photo" [src]="photo">-->
          <!--</div>-->

          <div class="modal-footer">
            <div class="form-button">
              <button type="submit" class="btn btn-default" (click)="savePhoto()"> {{ SUBMIT_ADD_EDIT }}
              </button>
            </div>
            <div class="form-button">
              <button type="submit" class="btn btn-default" (click)="skip()"> {{ SKIP }}
              </button>
            </div>
            <div class="form-button">
              <button type="button" class="btn btn-default" (click)="cancel()">{{CLOSE}}</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="action == 'delete'" class="container">
        {{CONFIRM_QUESTION}}?
      </div>
      <div *ngIf="action == 'delete'" class="modal-footer">
        <div class="form-button">
          <button type="submit" class="btn btn-danger" (click)="submitDelete()"> {{CONFIRM_DELETE}}</button>
        </div>
        <!--<div class="form-button">-->
        <!--<button type="submit" class="btn btn-danger" [appConfirmDelete]="submitDelete" (click)="submitDelete()"> {{CONFIRM_DELETE}}</button>-->
        <!--</div>-->
        <div class="form-button">
          <button type="button" class="btn btn-default" (click)="cancel()">{{CLOSE}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

