<div class="modal fade" tabindex="-1" role="dialog" id="add_edit_deletePopup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="cancel()"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span *ngIf="action === 'add_edit'">{{TITLE}}</span></h4>
        <h4 class="modal-title"><span *ngIf="action === 'delete'">{{TITLE}}</span></h4>
      </div>
      <div class="modal-body">
        <form *ngIf="action == 'add_edit'" class="form-group"
              class="dynamic-form"
              [formGroup]="form"
              (ngSubmit)="submitted.emit(form.value)">
          <ng-container
            *ngFor="let field of config"
            dynamicField
            [config]="field"
            [group]="form">
          </ng-container>
        </form>

      <div  *ngIf="action == 'delete'">
       {{CONFIRM_ANSWER}}?
      </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="action == 'delete'" class="modal-footer">
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="submitDelete()" > {{CONFIRM_DELETE}}</button>
        </div>
        <button type="button" class="btn btn-default"  (click)="cancel()" >{{CLOSE}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
