@import "const";

.btn {
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: $yellow-color;
  color: $line-color;

  transition: background-color .3s;
}
.btn-exit {
  padding: 3px 5px;
  height: 35px;
  background-color:$primary-blue-color;
  color: white;
}
.btn-test-list {
  background-color: rgba(64, 30, 70, 0.75);
  color: white;
}

.btn:hover, .btn:focus {
  cursor: pointer;
}
.btn-add {
  margin: 0 10px;
  border-radius: 50%;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 30px;
  cursor: pointer;
  display: inline;
}

