

$primary-violet-color: #401e46;
$primary-violet-bright-color: #826199;
$primary-viole-super-bright: #fff;
$font-stack: Helvetica, sans-serif;
$primary-blue-color: #7e8bfe;
$button-hover: #eff5f5;
$line-color: #949e9e;
$pink-colo: #9f77b9;
$mint-color: #77ebf3;
$orange-color: #ff886a;
$yellow-color: #ffd384;
$red-color: #c10000;
$background-color: #f5f5f5;

$table-header-font-weight: 400;
$table-header-font-color: #757575;
$table-cell-padding: 1.6rem;
$table-condensed-cell-padding: $table-cell-padding/2;

$table-bg: #fff;
$table-bg-accent: #f5f5f5;
$table-bg-hover: #f9f6fb; // rgba(0,0,0,.12);
$table-bg-active: $table-bg-hover;
$table-border-color: #e0e0e0;

$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$select-padding: 4px;

$timer-progress-color:rgb(188, 0, 255) ;
$timer-background-color:rgb(188, 133, 255);
