@import "const";


table {
  color: $line-color;
  border-collapse: separate;
  border-spacing: 0px 11px;
  thead {
    tr {
      th{
        text-align: center;
        font-weight: $table-header-font-weight;
        color: $table-header-font-color;
        vertical-align: top;
        border-bottom: 1px solid rgba(0,0,0,.12);
        font-size: larger;
      }
    }
  }
  tbody {
    tr{
      background-color: white;
    }
    tr {
      td{
        text-align: center;
        padding: 1.6rem;
        vertical-align: top;
        border-top: 0;
      }
    }
  }
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}
table {
  tbody {
    tr:hover {
      background-color: $table-bg-hover;
      font-size: 105%;
    }
  }
}


