
.btn {
  background: #ff886a;
  background-image: -webkit-linear-gradient(top, #ff886a, #77ebf3);
  background-image: -moz-linear-gradient(top, #ff886a, #77ebf3);
  background-image: -ms-linear-gradient(top, #ff886a, #77ebf3);
  background-image: -o-linear-gradient(top, #ff886a, #77ebf3);
  background-image: linear-gradient(to bottom, #ff886a, #77ebf3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 59px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d89af5;
  background-image: -webkit-linear-gradient(top, #d89af5, #ffd384);
  background-image: -moz-linear-gradient(top, #d89af5, #ffd384);
  background-image: -ms-linear-gradient(top, #d89af5, #ffd384);
  background-image: -o-linear-gradient(top, #d89af5, #ffd384);
  background-image: linear-gradient(to bottom, #d89af5, #ffd384);
  text-decoration: none;
}
#button{
  position: relative;
  left: 170px;
  top: 150px;
}
