

<h2>Статистика системи</h2>
<ul class="nav nav-tabs text-center" >
  <li class="nav-item" *ngFor="let entityItem of entity; let i=index">
    <div class="nav-link"
         (click)="setActiveTab(i)"
         [class.active]="i === activeTab">{{entityItem.descriptiion}}
      <br><p class="text-center">{{entityItem.count}}</p></div>
  </li>
</ul>

<p-chart type="bar" [data]="data"></p-chart>
<!--<ul class="list-group">-->
  <!--<li class="list-group-item justify-content-between">-->
    <!--Зараєстрованих спеціальностей:-->
    <!--<span class="badge badge-default badge-pill">{{entitiesNumber.speciality}}</span>-->
  <!--</li>-->
  <!--<li class="list-group-item justify-content-between">-->
    <!--Зараєстрованих груп:-->
    <!--<span class="badge badge-default badge-pill">{{entitiesNumber.group}}</span>-->
  <!--</li>-->
  <!--<li class="list-group-item justify-content-between">-->
    <!--Зараєстрованих студентів:-->
    <!--<span class="badge badge-default badge-pill">{{entitiesNumber.student}}</span>-->
  <!--</li>-->
  <!--<li class="list-group-item justify-content-between">-->
    <!--Зараєстрованих предментів:-->
    <!--<span class="badge badge-default badge-pill">{{entitiesNumber.subject}}</span>-->
  <!--</li>-->
  <!--<li class="list-group-item justify-content-between">-->
    <!--Зараєстрованих тестів:-->
    <!--<span class="badge badge-default badge-pill">{{entitiesNumber.test}}</span>-->
  <!--</li>-->
  <!--<li class="list-group-item justify-content-between">-->
    <!--Зараєстрованих завдань:-->
    <!--<span class="badge badge-default badge-pill">{{entitiesNumber.question}}</span>-->
  <!--</li>-->
<!--</ul>-->

