<h2>Статистика системи</h2>
<!--<ul class="list-group">
  <li class="list-group-item justify-content-between">
    Зараєстрованих спеціальностей:
    <span class="badge badge-default badge-pill">{{entitiesNumber.speciality}}</span>
  </li>
  <li class="list-group-item justify-content-between">
    Зараєстрованих груп:
    <span class="badge badge-default badge-pill">{{entitiesNumber.group}}</span>
  </li>
  <li class="list-group-item justify-content-between">
    Зараєстрованих студентів:
    <span class="badge badge-default badge-pill">{{entitiesNumber.student}}</span>
  </li>
  <li class="list-group-item justify-content-between">
    Зараєстрованих предментів:
    <span class="badge badge-default badge-pill">{{entitiesNumber.subject}}</span>
  </li>
  <li class="list-group-item justify-content-between">
    Зараєстрованих тестів:
    <span class="badge badge-default badge-pill">{{entitiesNumber.test}}</span>
  </li>
  <li class="list-group-item justify-content-between">
    Зараєстрованих завдань:
    <span class="badge badge-default badge-pill">{{entitiesNumber.question}}</span>
  </li>
</ul>-->
<table class="table table-striped table-sm table-hover">
  <tr>
    <td>1</td>
    <td>Зараєстрованих спеціальностей:</td>
    <td><span class="badge badge-default badge-pill">{{entitiesNumber.speciality}}</span></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Зараєстрованих груп:</td>
    <td><span class="badge badge-default badge-pill">{{entitiesNumber.group}}</span></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Зараєстрованих студентів:</td>
    <td><span class="badge badge-default badge-pill">{{entitiesNumber.student}}</span></td>
  </tr>
  <tr>
    <td>4</td>
    <td>Зараєстрованих предментів:</td>
    <td><span class="badge badge-default badge-pill">{{entitiesNumber.subject}}</span></td>
  </tr>
  <tr>
    <td>5</td>
    <td>Зараєстрованих тестів:</td>
    <td><span class="badge badge-default badge-pill">{{entitiesNumber.test}}</span></td>
  </tr>
  <tr>
    <td>6</td>
    <td>Зараєстрованих завдань:</td>
    <td><span class="badge badge-default badge-pill">{{entitiesNumber.question}}</span></td>
  </tr>
</table>

