@import "../universal/styles/const";
@import "../universal/styles/add-search-block";
@import "../universal/styles/button";


h2{
  text-align: center;
}

li:hover {
  background-color: transparent;
}
p {
  font-weight: bold;
}

