<!--<div class="fullscreen-bg">-->
  <!--<video loop muted autoplay poster="assets/small_resolution.png" class="fullscreen-bg__video">-->
    <!--<source src="assets/bg.mp4" type="video/mp4">-->
  <!--</video>-->
<!--</div>-->

<section class="container login-form">
  <section>
    <form #loginForm="ngForm" role="login" method="post" (ngSubmit)="login(loginForm)" (change)="hideMessage()">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input #name="ngModel" ngModel type="text" name="name" required class="form-control" [placeholder]="PLACEHOLDER_NAME"/>
        <span *ngIf="name.touched && name.invalid" class="validate_message">{{VALIDATION_NAME}}</span>
        <span *ngIf="invalidCredentials " class="validate_message">{{WRONG_CREDENTIALS}}</span>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input #password="ngModel" ngModel type="password" name="password" required class="form-control" [placeholder]="PLACEHOLDER_CODE" />
        <span *ngIf="password.touched && password.invalid" class="validate_message">{{VALIDATION_CODE}}</span>
      </div>
      <button [disabled]="!loginForm.valid" type="submit" name="go" class="btn btn-primary btn-block">{{BUTTON_LOGIN}}</button>
    </form>
  </section>
</section>


