<h3>Профіль студента</h3>

<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <tr>
          <td>Студент:</td>
          <td>{{student?.student_surname}} {{student?.student_name}} {{student?.student_fname}}</td>
        </tr>
        <tr>
          <td>№ заліковки:</td>
          <td>{{student?.gradebook_id}}</td>
        </tr>
        <tr>
          <td>Група:</td>
          <td>{{student?.group_name}}</td>
        </tr>
        <tr>
          <td>E-mail:</td>
          <td>{{AdminUser?.email}}</td>
        </tr>
        <tr>
          <td>Логін:</td>
          <td>{{AdminUser?.username}}</td>
        </tr>
        <tr>
          <td>Пароль:</td>
          <td>{{student?.plain_password}}</td>
        </tr>
      </table>
    </div>
    <div class="col">
      <img class="img-thumbnail photo" *ngIf="!student?.photo" src="../../../assets/default-avatar.png">
      <img class="img-thumbnail photo" *ngIf="student?.photo" [src]="student?.photo"></div>
  </div>
</div>
  <div class="buttons">
    <button class="btn btn-info" (click)="goToStudentResult()" >Результати</button>
    <button class="btn btn-info" data-toggle="modal" (click)="selectedStudent(student, AdminUser)"
            data-target="#modalEdit" data-whatever="@mdo" >Редагувати
    </button>
  </div>

<div class="app">
  <dynamic-form
    [config]="configs"
    (submitted)="formSubmitted($event)">
  </dynamic-form>
</div>
