@import "../universal/styles/button";

.buttons{
  margin: 50px;
}

.photo {
  max-height: 200px;
  max-width: 200px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.invalid {
  color: red;
}
