<div
  class="dynamic-field form-input" class="form-group"
  [formGroup]="group">
  <label>{{ config.label }}</label>
  <input class="form-control"
         type="email"
         [attr.placeholder]="config.placeholder"
         [formControlName]="config.name" />
  <small [hidden]="group.controls[config.name].hasError('null')">
    Email is required and format should be <i>john@doe.com</i>.
  </small>

</div>
<!--  [hidden]="!group.controls[config.name].hasError('pattern')" required pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$" -->
