.Search {
  position: relative;
  display: flex;
  font-weight: 300;
  font-size: 40px;
  color: #555;
}
:host {
  vertical-align: middle;
}
.Search-box {
  flex: 1 0 auto;
  margin: 10px 12px;
  padding: 8px 20px;
  height: 35px;
  border: 0;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
  transition: all .15s ease-in-out;
}

