@import "const";
.btn {
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: white;
  color: black;

  transition: background-color .3s;
  &:hover, &:focus {
    cursor: pointer;
    background-color:  $orange-color;
  }
  &:disabled {
    cursor: not-allowed;
  }
  & .btn-succes{
    background-color:  $primary-color;
  }
}

