$font-stack: Helvetica, sans-serif;
$primary-color: #7e8bfe;
$button-hover: #eff5f5;
$line-color: #949e9e;
$line-color: #949e9e;
$pink-color: #d89af5;
$mint-color: #77ebf3;
$orange-color: #ff886a;
$yellow-color: #ffd384;

