@import "const";

.form-control {
  border-color: white;
  border-bottom-color: $line-color;
  &:focus{
    &::placeholder {
      color: $primary-color;
    }
    border-bottom-color: $primary-color;
    border-bottom-width: thin;
  }
}

