@import "../../../universal/styles/const";

.form-control {
  color: $primary-violet-color;
  border-color: white;
  border-bottom-color: $table-border-color;
  &:focus {
    color: $primary-violet-color;
    &::placeholder {
      color: $primary-violet-color;
    }
    border-bottom-color: $primary-violet-color;
    border-bottom-width: thin;
  }
}

