<h1>Адміністратори</h1>

<dtester-entities-table [entities]="AdminUsers"
                        [headers]="headers"
                        [page]="page"
                        [itemsPerPage]="countPerPage"
                        (deleteEntity)="del($event)"
                        [ignoreProperties]="ignoreProperties"
                        [displayPropertiesOrder]="displayProperties"
                        (editEntity)="edit($event)"
                        [canEdit]="true"
                        [canDelete]="true"
                        [sortProperties]="sortProperties">
</dtester-entities-table>

<button class="btn btn-lg btn-outline-primary" (click)="add()">Додати Адміністратора</button>

<div class="text-center">
  <dtester-pagination [countRecords]="count"
                      [recordsPerPage]="countPerPage"
                      [currentPage]="page"
                      (pageChanged)="changePage($event)">
  </dtester-pagination>
</div>

<div class="app">
  <dynamic-form [config]="configs" (submitted)="formSubmitted($event)" (youCanDelete)="submitDelete($event)"></dynamic-form>
</div>
