.selected {
  background-color: #CCC8C9;
  color: white;
}
.subjects {
  list-style-type: none;
}
.subjects li {
  cursor: pointer;
  padding:15px;
}
.subjects li:first-child {
  border: 1px solid black;
  border-bottom: none;
}
.subjects li {
  border: 1px solid black;
  border-bottom: none;
}
.subjects li:last-child{
  border-bottom: 1px solid black;
}
h3 {
  text-align: center;
  margin: 8px;
}
.buttonsInRow {
  float: right;
  margin-right: 4px;
}
.add {
  margin: 20px;
}
.opys {
  margin: 30px;
}
