<h2>Предмети</h2>

<dtester-search (searchCriteria)="startSearch($event)"></dtester-search>
<dtester-items-per-page [numberOfRecords]="numberOfRecords" (recordsPerPageChanged)="changeNumberOfRecordsPerPage($event)"></dtester-items-per-page>
<dtester-entities-table [entities]="subjects"
                        [headers]="headers"
                        [page]="page"
                        [itemsPerPage]="recordsPerPage"
                        [displayPropertiesOrder]="displayPropertiesOrder"
                        [canAction]="true"
                        [btnClass]="btnClass"
                        (actionEntity)="onTimeTableNavigate($event)"
                        (clickEntity)="onTestsNavigate($event)"
                        (deleteEntity)="del($event)"
                        (editEntity)="edit($event)">
</dtester-entities-table>
<button class=""(click)="add()" type="button" class="btn btn-primary" data-dismiss="modal">Створити предмет</button>
<dtester-pagination [countRecords]="numberOfRecords"
                    [recordsPerPage]="recordsPerPage"
                    [currentPage]="page"
                    (pageChanged)="changePage($event)"></dtester-pagination>

<dynamic-form [config]="configs" (submitted)="formSubmitted($event)" (youCanDelete)="submitDelete($event)"></dynamic-form>
