<h3>Предмети</h3>
<div>
  <button type="button" class="btn btn-secondary add" data-toggle="modal" data-target="#addSubject"
          data-whatever="@mdo">Додати предмет
  </button>
  <!--modal for adding subjects-->
  <div class="modal fade" id="addSubject" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Додати предмет</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="form-control-label">Назва предмету:</label>
              <input type="text" class="form-control" id=" recipient-name" #subjectName>
            </div>
            <div class="form-group">
              <label for="message-text" class="form-control-label">Опис предмету:</label>
              <textarea class="form-control" id=" message-text" #subjectDescription></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
          <button type="button" class="btn btn-primary" (click)="addSubject(subjectName.value, subjectDescription.value);
           subjectName.value=''; subjectDescription.value=''" data-dismiss="modal">Зберегти
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--modal for updating data-->
  <div class="modal fade" id="updateSubject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Редагувати предмет</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div *ngIf="selectedSubject">
              <div class="form-group">
                <label for="recipient-name" class="form-control-label">Назва предмету:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedSubject.subject_name"
                       name="first">
              </div>
              <div class="form-group">
                <label for="message-text" class="form-control-label">Опис предмету:</label>
                <textarea class="form-control" id="message-text">{{selectedSubject.subject_description}}</textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
          <button type="button" class="btn btn-primary" (click)='onUpdate(selectedSubject)' data-dismiss="modal">Зберегти зміни
          </button>
        </div>
      </div>
    </div>
  </div>
  <ul class='subjects'>
    <li *ngFor='let subject of subjects'
        [class.selected]='subject === selectedSubject'
        (click)='onSelect(subject)'>{{subject.subject_name}}
      <button type='button' class='buttonsInRow btn btn-secondary btn-sm'
              (click)='deleteSubject(subject); $event.stopPropagation()'>Видалити
      </button>
      <button type="button" class='buttonsInRow btn btn-secondary btn-sm' data-toggle="modal" data-target="#updateSubject"
              (click)='onSelect(subject)' data-whatever="@fat">Редагувати
      </button>
    </li>
  </ul>
</div>
<div class='opys'>
  <app-subject-detail [subject]='selectedSubject'></app-subject-detail>
</div>
<button type='button' class='btn btn-secondary' (click)='decreasePage()'>Попередня</button>
<label>{{page}} / {{pageCount}}</label>
<button type='button' class='btn btn-secondary' (click)='increasePage()'>Наступна</button>






