@import "./universal/styles/const";
@import "./universal/styles/button";

.wrapper-admin .header-top{
  //background-color: $primary-violet-color;
  background: inherit;
  box-shadow:0 0 0 128px rgba(0, 0, 0, 0.33) inset;
}
.wrapper-admin .hamburger{
  width:70px;
  height:70px;
  font-size:28px;
  background-color: $primary-violet-color;
  border: none;
  color: #fff;
  outline: none;
  &:hover{
    cursor: pointer;
  }
}
.wrapper-admin .logo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  .logo{
    font-size:40px;
    font-weight:800;
    color:$primary-violet-bright-color;
  }
}

.wrapper-logout{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logout{
  padding: 10px 20px;
  height: 65px;
  background-color: rgba(64, 30, 70, 0.5);
  border: none;
  outline: none;
  &:hover{
    background-color: $primary-violet-bright-color;
    cursor: pointer;
  }
}
.btn-green,
.btn-blue,
.btn-orange{
  width: 25px;
  height: 25px;
}
.btn-blue{
  background: #69d2e7;
}
.btn-green{
  background: #37af49;
}
.btn-orange{
  background: #ff9800;
}
