@import "./universal/styles/const";
@import "./universal/styles/button";


:host-context(.top-panel)  {
  background-color: red!important;
}

.wrapper-admin .header-top{
  background-color: $primary-violet-color;
}
.wrapper-admin .hamburger{
  width:70px;
  height:70px;
  font-size:28px;
  background-color: $primary-violet-color;
  border: none;
  color: #fff;
  outline: none;
  &:hover{
    cursor: pointer;
  }
}
.wrapper-admin .logo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  .logo{
    font-size:40px;
    font-weight:800;
    color:$primary-violet-bright-color;
  }
}

.wrapper-logout{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logout{
  padding: 10px 20px;
  height: 65px;
  background-color: rgba(64, 30, 70, 0.5);
  border: none;
  outline: none;
  &:hover{
    background-color: $primary-violet-bright-color;
    cursor: pointer;
  }
}
