<h2>Відповіді</h2>
<div class="alert alert-info" role="alert">
  <button class=""(click)="add()"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal">Створити відповідь</button>
  <dtester-search (searchCriteria)="startSearch($event)"></dtester-search>
  <dtester-items-per-page [numberOfRecords]="countRecords"
                          (recordsPerPageChanged)="changeNumberOfRecordsOnPage($event)">
  </dtester-items-per-page>
</div>


<dtester-entities-table [entities]="answers"
                        [headers]="headers"
                        [page]="page"
                        [itemsPerPage]="countPerPage"
                        [ignoreProperties]="ignoreProperties"
                        [canAction]="false"
                        [btnClass]="btnClass"
                        [canAct]="true"
                        [imgAttach]="imgAttach"
                        (deleteEntity)="del($event)"
                        (editEntity)="edit($event)">
</dtester-entities-table>

<dtester-pagination [countRecords]="count"
                    [recordsPerPage]="countPerPage"
                    [currentPage]="page"
                    (pageChanged)="changePage($event)"></dtester-pagination>

<dynamic-form [config]="configs"
              (submitted)="formSubmitted($event)"
              (youCanDelete)="submitDelete($event)"></dynamic-form>
