<h3 id="heading" class="text-center">{{title}}</h3>
<div class="top-panel" role="alert">
  <div (click)="add()" class="btn-add" data-dismiss="modal">+</div>
<dtester-items-per-page [numberOfRecords]="countRecords"
                        (recordsPerPageChanged)="changeNumberOfRecordsOnPage($event)"></dtester-items-per-page>
</div>
<dtester-entities-table class="table"
                        [entities]="answersOnPage"
                        [headers]="headers"
                        [ignoreProperties]="ignoreProperties"
                        [btnClass]="btnClass"
                        [canAction]="false"
                        [page]="pageNumber"
                        [itemsPerPage]="recordsPerPage"
                        (deleteEntity)="del($event)"
                        (editEntity)="edit($event)">
</dtester-entities-table>
<dynamic-form [config]="configs"
              (submitted)="formSubmitted($event)"
              (youCanDelete)="deleteAnswer($event)">
</dynamic-form>
