  <h3 class="text-center">Відповіді</h3>
<div class="header-group" role="alert">
<dtester-items-per-page [numberOfRecords]="countRecords"
                        (recordsPerPageChanged)="changeNumberOfRecordsOnPage($event)"></dtester-items-per-page>
  <button (click)="add()"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal">{{CREATING_NEW_ANSWER}}</button>
</div>
<dtester-entities-table class="table"
                        [entities]="answersOnPage"
                        [headers]="headers"
                        [ignoreProperties]="ignoreProperties"
                        [btnClass]="btnClass"
                        [canAction]="false"
                        [page]="pageNumber"
                        [itemsPerPage]="recordsPerPage"
                        (deleteEntity)="del($event)"
                        (editEntity)="edit($event)">
</dtester-entities-table>
<dtester-pagination class="text-center"
                    [countRecords]="countRecords"
                    [recordsPerPage]="recordsPerPage"
                    [currentPage]="pageNumber"
                    (pageChanged)="changePage($event)"></dtester-pagination>
<dynamic-form [config]="configs"
              (submitted)="formSubmitted($event)"
              (youCanDelete)="deleteAnswer($event)">
</dynamic-form>
