<div class="modal fade" id="modal-delete-timetabel" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTimetable" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteTimetable">Видалення тестування</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Ви впевнені, що хочете видалити тестування з дисципліни <q><b>{{deletedTimetable?.subject_name}}</b></q> для групи <b>{{deletedTimetable?.group_name}}</b>?</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінити</button>
        <button  (click)="deleteTimetable()" type="button" class="btn btn-danger" data-dismiss="modal">Видалити</button>
      </div>
    </div>
  </div>
</div>
