<h1>Модальне вікно</h1>
  <!--  Редагування -->

  <form  [formGroup]="EntityEditForm">
  <div   *ngIf="edit" class="form-group">
    <label>Edit{{MODAL_CODE}}</label>
    <input formControlName="editname" name="entity_edit_name" type="text" class="form-control" id="editname">
    <span
      *ngIf="EntityEditForm.controls['editname'].hasError('required') && EntityEditForm.controls['editname'].touched"
      class="validate_message"> enter name{{MODAL_VALIDATION_CODE_REQUIRED}}</span>
    <textarea formControlName='editdescription' type="text" name='entity_description' required
              class="form-control" placeholder="Введіть опис факультету" class="form-control" rows="5">
       </textarea>
  </div>

</form>

  <div>
    <div class="text-center">
      <button type="submit" class="btn btn-danger"[disabled]="!EntityEditForm.valid" (click)="confirmAddEdit()">Confirm{{BUTTON_CONFIRM}}</button>
      <button (click)="goBack()">Back</button>
    </div>
  </div>




