@import "../../admin/universal/styles/const";
@import "../../admin/universal/styles/button";
@import "../../admin/universal/entities-table/entities-table.component";
$hover-border-transition: 3px solid white;
:host {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

main {
  div {
    div {
      border: 3px solid transparent;
    }
    div:hover {
      border: $hover-border-transition;
      transition: 400ms;
    }
    .headers:hover {
      background-color: $primary-violet-bright-color;
    }
    .headers {
      color: white;
      background-color: $pink-colo;
    }
    .clock:hover {
      background-color: $primary-violet-color;
    }
    .clock {
      p {
        display: block;
      }
      span {
        display: block;
      }
      background-color: rgba(64, 30, 70, 0.75);
      color: white;
      font-size: larger;
    }
  }
}
.exit {
  margin: auto auto;
}
button {
  align-items: center;
}
.table-row {
  margin: 50px;
}
