<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9 headers">
        <h3>{{GREATINGS}} {{result.student['student_name'] + ' ' + result.student['student_surname']}}!</h3><br>
        <h4>{{OPEN_TESTS}}:</h4>
      </div>
      <div class="col-md-3 profile text-center">
        <div class="icon" (click)="goToTheProfile()">
          <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="checkTestAvailability">
      <h3 ></h3>
    </div>

  </div>
  <div *ngIf="checkTestAvailability" class="container">
    <h5>{{noTests}}</h5>
  </div>
  <div *ngIf="!checkTestAvailability" class="row table-row">
    <table >
      <thead>
      <tr >
        <th *ngFor="let header of tableHeaders; index as headerIndex">
          {{header}}
        </th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let test of result['tests']; let i = index">
        <td>
          {{i + 1}}
        </td>
        <td>
          {{test.test_name}}
        </td>
        <td>
          {{test.tasks}}
        </td>
        <td>
          {{test.time_for_test}}хв
        </td>
        <td>
          <button class="btn btn-test-list" (click)="openTestPlayer(+test.test_id, test.time_for_test)">Здати тест</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
