@import "../../admin/universal/styles/const";
@import "../../admin/universal/styles/button";
@import "../../admin/universal/entities-table/entities-table.component";
$hover-border-transition: 3px solid white;
:host {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

main {
    div {
      border: 3px solid transparent;
    }
    .profile:hover, .headers:hover {
      border: $hover-border-transition;
      transition: 400ms;
      cursor: pointer;
    }
    .headers:hover {
      background-color: $primary-violet-bright-color;
    }
    .headers {
      h3 {
        height: inherit;
        text-align: center;
        //align-items: ;
      }
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
      background-color: $pink-colo;
    }
    .profile:hover {
      background-color: $primary-violet-color;
    }
    .profile {
      position: relative;
      background-color: $primary-violet-color;
      color: white;
      font-size: larger;
    }
    h4 {
      color: $primary-violet-color;
      text-align: center;
      margin-top: 30px;
    }
}
.exit {
  margin: auto auto;
}
button {
  align-items: center;
}
.table-row {
  margin: 25px;
}
