@import "../admin/universal/styles/const";
@import "../admin/universal/styles/button";
@import "../admin/universal/entities-table/entities-table.component";
$hover-border-transition: 3px solid white;
:host {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
header {
  margin-bottom: 20px;
  .container {
    .row{
      .col-md-2, .col-md-10 {
        display: flex;
        height: inherit;
        padding: 3px;
      }
    }
  }
  h1 {
    color: white;
  }
  background-color: #401e46;
}
main {
  table:hover {
    border: $hover-border-transition;
  }
  div {
    div:hover {
      border: $hover-border-transition;
      transition: 400ms;
    }
    .headers:hover {
      color: white;
      background-color: #826199;
    }
    .headers {
      color: #79777A;
      background-color: $pink-colo;
    }
    .clock:hover {
      background-color: #401e46;
    }
    .clock {
      p {
        display: block;
      }
      span {
        display: block;
      }
      background-color: rgba(64, 30, 70, 0.75);
      color: white;
      font-size: larger;
    }
  }
}
.exit {
  margin: auto auto;
}
button {
  align-items: center;
}
.table-row {
  margin: 50px;
}




