@import "../admin/universal/styles/const";
@import "../admin/universal/styles/button";
@import "../admin/universal/entities-table/entities-table.component";
$hover-border-transition: 3px solid white;
:host {
  position: relative;
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.main {
  min-height:100%;
  position:relative;
}
.body {
  padding:10px;
  padding-bottom:60px;
}
.header {
  margin-bottom: 20px;
  .container {
    .row{
      .col-md-2, .col-md-10 {
        display: flex;
        height: inherit;
        padding: 3px;
      }
    }
  }
  h1:hover {
    cursor: pointer;
  }
  h1 {
    color: white;
  }
  background-color: $primary-violet-color;
}
.footer-wrapper{
  position: relative;
}
.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:40px;
  background: $primary-violet-color;
  color: white;
  display: flex;
  justify-content: center;
}
