@import "../admin/universal/styles/const";
@import "../admin/universal/styles/button";
@import "../admin/universal/entities-table/entities-table.component";
$hover-border-transition: 3px solid white;
:host {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
header {
  margin-bottom: 20px;
  .container {
    .row{
      .col-md-2, .col-md-10 {
        display: flex;
        height: inherit;
        padding: 3px;
      }
    }
  }
  h1 {
    color: white;
  }
  background-color: $primary-violet-color;
}



