<div
  class="dynamic-field form-input" class="form-group"
  [formGroup]="group">
  <!--<label>{{ config.label }}</label>-->
  <input class="form-control"
    type="text"
    [attr.placeholder]="config.placeholder"
    [formControlName]="config.name"  />
  <label
    *ngIf="group.controls[config.name].hasError('required') && group.controls[config.name].touched"
    class="control-label error">{{MODAL_VALIDATION_NAME_REQUIRED}}</label>
  <label
    *ngIf="group.controls[config.name].hasError('exists') && group.controls[config.name].dirty"
    class="control-label error">{{MODAL_VALIDATION_NAME_EXISTS}}</label>
  <label
    *ngIf="group.controls[config.name].hasError('maxLength') && group.controls[config.name].dirty"
    class="control-label error">{{MODAL_VALIDATION_NAME_TOLONG}}</label>
  </div>

