/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  background-color:  #f5f5f5;
  margin-bottom: 60px;
}
h1  {
  coor: white;
}
html{
  min-height: 100%;
}
