<h2 *ngIf="timeTables.length">Розклад проведення тестування
  <span *ngIf="groupQueryParam">групи: {{timeTables[0]?.group_name}}</span>
  <span *ngIf="subjectQueryParam">з: {{timeTables[0]?.subject_name}}</span>
</h2>
<div class="alert alert-info" role="alert">
  <button type="button" class="btn btn-primary" (click)="openModalAddTimetable()">Запланувати тестування</button>
  <dtester-items-per-page [numberOfRecords]="numberOfRecords"
                          (recordsPerPageChanged)="changeNumberOfRecordsPerPage($event)"
                          *ngIf="!groupQueryParam && !subjectQueryParam"></dtester-items-per-page>
</div>

<dtester-entities-table [entities]="timeTables"
                        [headers]="headers"
                        [page]="page"
                        [itemsPerPage]="recordsPerPage"
                        (editEntity)="getUpdatedTimetable($event)"
                        (deleteEntity)="getDeletedTimetable($event)"
                        [displayPropertiesOrder]="displayPropertiesOrder">
</dtester-entities-table>
<dtester-pagination *ngIf="!groupQueryParam && !subjectQueryParam"
                    [countRecords]="numberOfRecords"
                    [recordsPerPage]="recordsPerPage"
                    [currentPage]="page"
                    (pageChanged)="changePage($event)"></dtester-pagination>
<app-delete-timetable [deletedTimetable]="deletedTimetable"
                      (getTimetableRecords)="checkQueryParams()"
                      (changeNumberOfRecords)="changeNumberOfRecords($event)"></app-delete-timetable>
<app-add-update-timetable [groups]="groups"
                          [subjects]="subjects"
                          [action]="action"
                          [updatedTimetable]="updatedTimetable"
                          (getTimetableRecords)="checkQueryParams()"
                          (changeNumberOfRecords)="changeNumberOfRecords($event)"></app-add-update-timetable>


