<h2>Питання</h2>
<dtester-search (searchCriteria)="startSearch($event)"></dtester-search>
<dtester-items-per-page [numberOfRecords]="countRecords"
                        (recordsPerPageChanged)="changeNumberOfRecordsOnPage($event)"></dtester-items-per-page>

<dtester-entities-table class="table"
                        [entities]="questionsOnPage"
                        [headers]="headers"
                        [ignoreProperties]="ignoreProperties"
                        [btnClass]="btnClass"
                        [canAction]="true"
                        [page]="pageNumber"
                        [itemsPerPage]="recordsPerPage"
                        (deleteEntity)="del($event)"
                        (editEntity)="edit($event)"
                        (clickEntity)="getAnswersByQuestion($event)">
</dtester-entities-table>


<dtester-pagination class="text-center"
                    [countRecords]="countRecords"
                    [recordsPerPage]="offset"
                    [currentPage]="pageNumber"
                    (pageChanged)="changePage($event)"></dtester-pagination>

<button (click)="add()"
        type="button"
        class="btn btn-primary"
        data-dismiss="modal">{{CREATING_NEW_QUESTION}}</button>
<dynamic-form [config]="configs"
              (submitted)="formSubmitted($event)"
              (youCanDelete)="deleteQuestion($event)"></dynamic-form>
