<h3 class="text-center">{{title}}</h3>
<div class="header-group" role="alert">
<button (click)="add()"
        type="button"
        class="btn btn-primary"
        data-dismiss="modal">{{CREATING_NEW_QUESTION}}</button>
  <dtester-items-per-page [numberOfRecords]="countRecords"
                          (recordsPerPageChanged)="changeNumberOfRecordsOnPage($event)"></dtester-items-per-page>
</div>
<dtester-entities-table class="table"
                        [entities]="questionsOnPage"
                        [headers]="headers"
                        [ignoreProperties]="ignoreProperties"
                        [btnClass]="btnClass"
                        [canAction]="true"
                        [page]="pageNumber"
                        [itemsPerPage]="recordsPerPage"
                        (deleteEntity)="del($event)"
                        (editEntity)="edit($event)"
                        (actionEntity)="goToAnswers($event)">
</dtester-entities-table>
<dtester-pagination class="text-center"
                    [countRecords]="countRecords"
                    [recordsPerPage]="recordsPerPage"
                    [currentPage]="pageNumber"
                    (pageChanged)="changePage($event)"></dtester-pagination>
<dynamic-form [config]="configs"
              (submitted)="formSubmitted($event)"
              (youCanDelete)="deleteQuestion($event)">
</dynamic-form>
