<h1>{{MAIN_HEADER}}</h1>

<div class="alert alert-info" role="alert">
  <button class="btn btn-primary" (click)="add()">{{MODAL_ADD}}</button>
  <dtester-search (searchCriteria)="searchStudent($event)">
  </dtester-search>
  <dtester-items-per-page [numberOfRecords]="count"
                          (recordsPerPageChanged)="changeCountPerPage($event)">
  </dtester-items-per-page>
</div>

<dtester-entities-table [entities]="students"
                        [headers]="headers"
                        [page]="page"
                        [itemsPerPage]="countPerPage"
                        (actionEntity)="goToStudentProfile($event)"
                        (deleteEntity)="del($event)"
                        [ignoreProperties]="ignoreProperties"
                        [displayPropertiesOrder]="displayProperties"
                        [canEdit]="false"
                        [canAction]="true"
                        [canDelete]="true"
                        [sortProperties]="sortProperties">
</dtester-entities-table>

<div class="app">
  <dynamic-form [config]="configs"
                (submitted)="formSubmitted($event)">
  </dynamic-form>
</div>

<div class="text-center">
  <dtester-pagination [countRecords]="count"
                      [recordsPerPage]="countPerPage"
                      [currentPage]="page"
                      (pageChanged)="changePage($event)">
  </dtester-pagination>
</div>
