@import "../universal/styles/const";
@import "../universal/styles/add-search-block";
@import "../universal/styles/button";

.studProfile{
  width:100%;
  height:100px;
  background: #949e9e;
}
.studProf{
  background: #f0f;
}
