tr:hover{
  background-color: rgba(0,0,0,.14);
}

fieldset {
  text-align: center;
  border: 2px solid black;
  padding: 10px 5px 0;
  margin: 0 15px 15px;
}

fieldset legend, .edit-legend, .del-legend {
  text-align: right;
  width: 195px;
  padding-right: 7px;
}

input, select {
  width: 70%;
  margin: -5px auto;
}

fieldset .edit-legend {
  width: 236px;
}

fieldset .del-legend {
  width: 130px;
}

.my-button {
  margin: 10px 0;
}

.invalid {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
