<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      {{TEST_REZULTS}} <span>{{rezults['test_name']}}</span>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{MARK}}</td>
      <td><span class="rezult">{{rezults['full_mark']}}</span> {{FROM}} {{rezults['number_of_all_answers']}}</td>
    </tr>
    <tr>
      <td>{{NUMBER_OF_TRUE_ANSWERS}}</td>
      <td><span class="rezult">{{rezults['number_of_true_answers']}}</span> {{FROM}} {{rezults['max_mark']}}  </td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-test-list" (click)="goHome()">{{AVAILABLE_TESTS}}</button>
</div>
